# Ignore system files
$Recycle.Bin/
Windows/
NTUSER.DAT

# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore specific images
*.png
*.jpg

# Ignore specific file extensions
*.log
